Checks: "-*                                                    \
  ,boost-*                                                     \
  ,bugprone-*                                                  \
  ,cert-*                                                      \
  ,clang-analyzer-*                                            \
  ,-clang-analyzer-optin.portability.UnixAPI                   \
  ,-clang-analyzer-unix.*                                      \
  ,cppcoreguidelines-*                                         \
  ,-cppcoreguidelines-avoid-magic-numbers                      \
  ,-cppcoreguidelines-non-private-member-variables-in-classes  \
  ,-cppcoreguidelines-pro-bounds-constant-array-index          \
  ,-cppcoreguidelines-pro-bounds-pointer-arithmetic            \
  ,google-*                                                    \
  ,-google-explicit-constructor                                \
  ,-google-readability-braces-around-statements                \
  ,-google-runtime-references                                  \
  ,misc-*                                                      \
  ,-misc-non-private-member-variables-in-classes               \
  ,modernize-*                                                 \
  ,-modernize-pass-by-value                                    \
  ,-modernize-use-auto                                         \
  ,performance-*                                               \
  ,readability-*                                               \
  ,-readability-braces-around-statements                       \
  ,-readability-magic-numbers                                  \
  "
HeaderFilterRegex: 'include/polatory/'
WarningsAsErrors: '*'
