Checks: "-*                                              \
  ,boost-*                                               \
  ,bugprone-*                                            \
  ,cert-*                                                \
  ,-cert-err58-cpp                                       \
  ,clang-analyzer-*                                      \
  ,-clang-analyzer-optin.portability.UnixAPI             \
  ,-clang-analyzer-unix.*                                \
  ,cppcoreguidelines-*                                   \
  ,-cppcoreguidelines-owning-memory                      \
  ,-cppcoreguidelines-pro-bounds-array-to-pointer-decay  \
  ,-cppcoreguidelines-pro-bounds-constant-array-index    \
  ,-cppcoreguidelines-pro-bounds-pointer-arithmetic      \
  ,-cppcoreguidelines-pro-type-member-init               \
  ,-cppcoreguidelines-special-member-functions           \
  ,google-*                                              \
  ,-google-explicit-constructor                          \
  ,-google-readability-braces-around-statements          \
  ,-google-runtime-references                            \
  ,misc-*                                                \
  ,modernize-*                                           \
  ,-modernize-make-unique                                \
  ,-modernize-pass-by-value                              \
  ,-modernize-return-braced-init-list                    \
  ,-modernize-use-auto                                   \
  ,-modernize-use-default-member-init                    \
  ,-modernize-use-emplace                                \
  ,performance-*                                         \
  ,readability-*                                         \
  ,-readability-braces-around-statements                 \
  ,-readability-else-after-return                        \
  ,-readability-implicit-bool-conversion                 \
  ,-readability-named-parameter                          \
  ,-readability-redundant-control-flow                   \
  "
HeaderFilterRegex: 'include/polatory/'
WarningsAsErrors: '*'
