branches:
  only:
    - master

image: Visual Studio 2017

environment:
  CONDA_DIR: C:\Miniconda-x64
  VCPKG_DIR: C:\Tools\vcpkg

init:
  - ps: Get-WmiObject Win32_OperatingSystem
  - ps: Get-WmiObject Win32_Processor
  - vcpkg version

clone_folder: C:\projects\polatory

shallow_clone: true

matrix:
  fast_finish: true

cache:
  - C:\Tools\vcpkg\installed

install:
  # Ninja
  - appveyor DownloadFile https://github.com/ninja-build/ninja/releases/download/v1.8.2/ninja-win.zip
  - 7z x ninja-win.zip -oC:\ninja > nul
  - set PATH=C:\ninja;%PATH%
  - ninja --version
  # Intel MKL
  - C:\Miniconda-x64\Scripts\conda install mkl-devel=2018.0 -y -c intel
  # Other libraries
  - echo set(VCPKG_BUILD_TYPE release) >> %VCPKG_DIR%\triplets\x64-windows.cmake
  - vcpkg install ceres flann eigen3 gtest --triplet x64-windows

before_build:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
  - mkdir build && cd build

build_script:
  - cmake .. -GNinja -DCMAKE_BUILD_TYPE="Release" -DCMAKE_CONFIGURATION_TYPES="Release" -DCMAKE_TOOLCHAIN_FILE=%VCPKG_DIR%\scripts\buildsystems\vcpkg.cmake -DBOOST_ROOT=C:\Libraries\boost_1_67_0 -DUSE_PREBUILT_BOOST=ON
  - ninja

test_script:
  - test\Unittest.exe

notifications:
  - provider: Slack
    incoming_webhook:
      secure: eZ62G+Wy8+cxwZX9zxzx8KLypeWss82zviuRSuNBYTwq0eGHzXyo5JsmpW6TUlJGm1a5TUxcyzihv6c01p44ffgOJZTJX0UU1CxTgQ2xgXc=
